@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.Centrar{
    display:flex;
    justify-content: center;
    color: #0fefff;
    
}

.redondo{
    border-radius: 5px;
}

html, body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 650px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 100px;
    font-weight: 100;
    background-color: rgba(163,160,158,0.6);
}

.qhacer{
    height: 700px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.qhacer .boton1:hover{
    background: #ece2c6;
    border-radius: 50px;
}

.qhacer .boton2:hover{
    background: #ece2c6;
    border-radius: 50px;
}

.qhacer .boton1{
    border-radius: 10px;
    display: inline-block;
    color: #1f1407;
    text-decoration: none;
    padding: 30px 40px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

iframe{
    width: 100%;
    height: 520px;
    /* margin: auto; */
    margin-bottom: 15px;
}

.contenedor-iframe{
    margin: 50px auto;
    width: 80%;
}

.Centrar h1{
    text-align: center;
}

.qhacer .boton2{
    border-radius: 10px;
    display: inline-block;
    color: #1f1407;
    text-decoration: none;
    padding: 30px 40px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


.conteiner{
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.conteiner .card{
    width: 340px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #f6f6f6;
}

.conteiner .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.conteiner .card img{
    width: 330px;
    height: 310px;

}

.conteiner .card h4{
    font-weight: 600;
}

.conteiner .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.conteiner .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

header{
    height: 150px;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    background: #a3a09e;
    margin-bottom: 20px;
}

.wrapper{
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

header .logo img{
    height: 100px;
    width: 150px;
}

header .logo{
    color: antiquewhite;
    font-size: 50px;
    line-height: 200px;
    float: left;
}

header nav{
    float: right;
    line-height: 150px;
}

header nav a{
    display: inline-block;
    color: #1f1407;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover{
    background: #ece2c6;
    border-radius: 50px;
}

.header2{
    position: fixed;
    height: 100px;
}

.header2 .logo{
    line-height: 100px;
    font-size: 30px;
}

.header2 nav{
    line-height: 100px;
}

@media screen and (max-width: 950px){
    header .logo,
    header nav {
        width: 100%;
        text-align: center;
        line-height: 10px;

    }

    .header2{
        height: auto;
    }

    .header2 .logo,
    .header2 nav{
        line-height: 50px;
    }
}

.iniciar2{
    width: 400px;
    height: 420px;
    background: #0079ff;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #252932;
    padding: 20px 30px;
    border-top: 4px solid #000000;
    color: aliceblue;
}

.iniciar{
    width: 400px;
    height: 350px;
    background: #0079ff;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #252932;
    padding: 20px 30px;
    border-top: 5px solid #000000;
    color: aliceblue;
}

.guardar{
    width: 400px;
    height: 450px;
    background: #90673d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #252932;
    padding: 20px 30px;
    border-top: 5px solid #1f1407;
    color: aliceblue;
}

.iniciar h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls{
    width: 94.5%;
    border: 1px solid #000000;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #f1eae4;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.control{
    width: 94.5%;
    border: 1px solid #000000;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252932;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.boton{
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    color: #000000;
    border-radius: none;
    margin-bottom: 15px;
}

.boton:hover{
    background: #D1E9FF;
    border-radius: 50px;
    
}

#main-container{
	margin: 25px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #90673d;
	border-bottom: solid 5px #000000;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #ece2c6;
	color: black;
}